.GridFont{
    overflow:hidden;
    font-size: 14px;
    color: gray;
}
.GridFont b{
    font-size: 16px;
    color: gray;
}
.Table{
    box-shadow: rgba(0,0,0,0.15) 0px 4px 4px 0px;
}
.Link{
    cursor: pointer;
    text-transform: uppercase;
}