.modal{
    width:450px;
    height:250px;
    background-color:snow;
    box-shadow: rgba(0,0,0,0.15) 0px 4px 4px 0px;
    position: absolute;
    padding:15px;
    top:20%;
    left:458px;
}
.header{
    width:425px;
    height:35px;
    position:absolute;
    beckground-color:skyblue;
    text-align:center;
    direction: inherit;
}